<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>this is my build test&#xd;
&lt;br&gt; this is my own project &lt;\br&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>90</daysToKeep>
        <numToKeep>30</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.29">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>WORKSPACE</name>
          <description>this is my job workspace</description>
          <defaultValue>/home/jenkins/workspace/Mvn_GameOfLife_package/gameoflife-web/target</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.flow__plugin.FlowProjectProperty plugin="flow@1.3"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>mylabel-class</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>JDK_1.8-192</jdk>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>Mvn_GameOfLife_package,</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#mvn package

#Maven should not install manual on any slave nodes.it installs by default through &quot;Global tool configuratoin Maven Auot install Option&quot;
#sudo yum install tomcat
#sudo service tomcat start

echo &quot;######## stop the tomcat server ##########&quot;
sudo sh /usr/local/tomcat/bin/shutdown.sh

cd ${WORKSPACE}
echo &quot;############### package downloading and copying into tomcat webapps########3&quot;
sudo cp -r ${WORKSPACE}/*.war /usr/local/tomcat/webapps/

#sudo cp -r /home/jenkins/workspace/GameOfLife-mvnPackageManualTomcat/gameoflife-web/target/*.war /usr/local/tomcat/webapps/

echo &quot;############ changing the owner and group permissions for tomcat home dir########&quot;
sudo chown -R tomcat:tomcat /usr/local/tomcat

echo &quot;########## start the tomcat server ##############&quot;
sudo sh /usr/local/tomcat/bin/startup.sh

echo &quot;####### Tomcat Status ############&quot;
sudo ps -ef|grep tomcat
sudo echo &quot;########## Tomcat WebApp directory listing of deployed app.war&quot;
sudo ls -lrt /usr/local/tomcat/webapps/*
sudo echo &quot;######### Deployment completed #########&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.22">
      <recipients>knowledgeshare99@gmail.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.36">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>